button {
  &:focus,
  &.focus {
    outline: 0;
  }
}
.btn {
  @apply px-3 py-2 rounded-xl flex items-center justify-center;
  &:active,
  &.active {
    @apply bg-gray-200;
    @apply text-gray-800;
  }
  &:disabled,
  &.disabled {
    @apply bg-gray-200;
    @apply text-gray-400;
  }

  &.primary {
    @apply text-white bg-gradient-to-tr from-primary-400 to-primary-800;
    &:hover {
      @apply from-primary-800;
    }
    &:disabled,
    &.disabled {
      @apply bg-indigo-100;
      @apply text-indigo-200;
    }
  }

  &.outline-primary {
    @apply border bg-transparent text-primary-400 border-primary-800 rounded-2xl;
    &:hover {
      @apply text-white bg-primary-800;
    }
    &:disabled,
    &.disabled {
      @apply text-indigo-300 bg-indigo-100;
    }
  }

  &.secondary {
    @apply text-white bg-gradient-to-tr from-secondary-400 to-secondary-800;
    &:hover {
      @apply from-secondary-800;
    }
    &:disabled,
    &.disabled {
      @apply bg-indigo-100;
      @apply text-indigo-200;
    }
  }

  &.outline-primary {
    @apply border bg-transparent text-secondary-800 border-secondary-800;
    &:hover {
      @apply text-white bg-secondary-800;
    }
    &:disabled,
    &.disabled {
      @apply text-yellow-300 bg-yellow-100;
    }
  }

  &.xs {
    @apply text-xs py-1 px-2;
  }
  &.sm {
    @apply text-sm py-1 px-2;
  }
  &.lg {
    @apply text-lg py-3 px-4;
  }
  &.xl {
    @apply text-xl py-4 px-6;
  }
}

.register-button {
  background-color: rgb(179, 179, 179);
  @apply relative font-semibold text-white overflow-hidden text-center;

  & > .hover-effect {
    @apply absolute w-full h-full top-0 left-0 ease-linear duration-200 text-center;
    transition-property: left;
  }

  &:hover {
    .hover-effect {
      left: -100%;
    }
  }
}
