.sidebar {
  @apply bg-white flex items-center w-11/12 h-16 mx-auto shadow rounded-lg p-1 fixed bottom-4 left-0 right-0 border;
  @screen md {
    @apply static block w-80 h-full border-none rounded-none p-4;
  }

  .account {
    @apply flex-shrink-0 mx-2;
    & > div {
      :not(img) {
        @apply hidden;
        @screen md {
          @apply block;
        }
      }
      .avatar {
        @apply w-8 h-8;
        @screen md {
          @apply w-16 h-16;
        }
      }
    }
    p {
      @apply hidden;
      @screen md {
        @apply block;
      }
    }
    @screen md {
      @apply border-b py-4;
    }
  }

  .nav-items {
    @apply w-full flex justify-between;
    @screen md {
      @apply w-auto flex-col justify-start;
    }
    .nav-item {
      @apply box-border border-transparent w-full h-12 flex flex-col items-center justify-center text-gray-800 rounded text-sm relative;
      @screen md {
        @apply w-auto mb-1 flex-row justify-start;
      }
      .icon {
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-icon {
          @apply w-6 h-6;

          .a {
            fill: none;
          }
          .b {
            @apply fill-current;
          }
        }
      }
    }
  }

  .nav-item.active {
    @apply text-primary-800;
    @screen md {
      @apply bg-primary-400 bg-opacity-20 border-primary-800 border shadow-md;
    }
  }
}
